.contact{
  background-color:#eeeeee;
  height: 100%;
  width: 100vw;
  color:#070d59;
  font-size: 400;

}
.contact__container{
  background-color:#eeeeee;
}
.fa-envelope{
  color:#1f3c88;
}
input{
  height: 3.5rem !important; 
  padding:.9rem !important;
}
.contact__info{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2rem;
  margin-top:8rem ;
}
.contact__infoLabel{
  font-size:1.6rem !important;
}

.contact__icons {
  margin-bottom:1rem;
}
.contact__icons .fa{
 color:#1f3c88;
}
form > button{
  background-color:#1f3c88!important;
  padding:6px 20px !important;
}
